<div class="wrapper">
	<section class="todoapp">
		<header>
			<h1>todos</h1>
      <input autofocus="" class="new-todo" placeholder="What needs to be done?" [(ngModel)]="newTodoText" (keyup.enter)="addTodo()">
		</header>
		<section class="main">
			<input class="toggle-all" type="checkbox">
			<ul class="todo-list">
				<li *ngFor="let todo of todos" [class.completed]="todo.isCompleted" [class.editing]="todo.isBeingEdited">
					<div class="view">
						<input class="toggle" type="checkbox" (click)="toggleCompletion(todo)" [checked]="todo.isCompleted">
            <label (dblclick)="editTodo(todo)">{{todo.title}}</label>
						<button class="destroy" (click)="removeTodo(todo)"></button>
					</div>
          <input class="edit" *ngIf="todo.isBeingEdited" [value]="todo.title" #editedtodo (keyup.enter)="updateTodo(todo, editedtodo.value)" (keyup.escape)="cancelEditTodo(todo)">
				</li>
			</ul>
		</section>
		<footer class="footer">
      <span class="todo-count"><strong>{{getActiveTodos().length}}</strong> {{getActiveTodos().length === 1 ? 'item' : 'items'}} left</span>
			<button class="save-button" (click)="save()">Save</button>
			<button class="clear-completed" (click)="clearCompleted()" *ngIf="getActiveTodos().length < todos.length">Clear completed</button>
		</footer>
	</section>
</div>
